# MQTT
MQTT_URL=mqtt://broker.emqx.io:1883
MQTT_TOPIC=hardandsoft/esp32/data
MQTT_USER=emqx
MQTT_PASS=public

# Supabase PostgreSQL
DATABASE_URL=postgresql://postgres:gabigay1524@db.imdevwnnqmrnmxlwqxzn.supabase.co:5432/postgres

# Optional
APP_NAME=mqtt-to-supasql
WRITE_INTERVAL_MS=30000
